# DEFAULT LOCAL PROPERTIES
production=false
debug=false
logging.level.org.springframework.web=INFO
logging.level.com.baro.bot.discord=DEBUG
logging.level.root=INFO
server.port=5000

# Redis
spring.redis.host=localhost
spring.redis.port=6379
#spring.redis.password=
redis.message.cache.duration.minutes=60

# JPA
spring.datasource.url=jdbc:postgresql://localhost:5432/DATABASE_NAME
spring.datasource.username=
spring.datasource.password=
## drop n create table again, good for testing, comment this in production
spring.jpa.hibernate.ddl-auto=create

# DISCORD BOT
token=
activity=
prefix=?
owner.ids=
google.search.api.key=
google.search.engine.id=
oxford.dictionary.api.key=
oxford.dictionary.app.id=