POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# DEFAULT LOCAL PROPERTIES
debug=false
logging.level.org.springframework.web=INFO
logging.level.com.baro.bot.discord=DEBUG
logging.level.root=INFO
server.port=

# Redis
spring.redis.host=localhost
spring.redis.port=6379
#spring.redis.password=

# JPA
spring.datasource.url=jdbc:postgresql://localhost:PORT/DATABASENAME
spring.datasource.username=
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=create

# DISCORD BOT
token=
activity=
prefix=
owner.ids=