// colors
$accentColor = #3eaf7c
$textColor = #b9beb5
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$darkPrimaryBg = #1a1a1a;
$darkSecondaryBg = #2a2a2a;

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 16rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 1000px
$MQMobileNarrow = 419px
